
/* typical divice brakpoints
pequenas telas: ate 600px
celular: de 600px ate 768px
tablet: 768px ate 992px
desktop: 992px ate 2160p
grandes telas: acima de 2160p */

@media print {
    body{
        background-image: url(../imagens/back-print.jpg);
        /* imagem de background não funciona na empressora */
        font-family: 'Courier New', Courier, monospace;
    }
    img#cell {display: none;}
    img#tab {display: none;}
    img#imp {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (max-width:768px) and (max-width:992px) { /*TABLET*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#cell {display: none;}
    img#tab {display: block;}
    img#imp {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}
 @media screen and (min-width:600px) and (max-width: 1200px){ /*DESKTOP */
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#cell {display: none;}
    img#tab {display: none;}
    img#imp {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

 @media screen and (min-width: 1200px) { /*GRANDES TELAS */
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#cell {display: none;}
    img#tab {display: none;}
    img#imp {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}
