*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3:'Sriracha', cursive;;
}

html, body{
    font-family: var(--fonte1);
    background-color: darkgrey;
    min-height: 100vh;
    max-width: 100%;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte2);
    font-size: 8vh;
}
header h1{
    padding-top: 50px;
    font-variant: small-caps;
}
header p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    font-family: var(--fonte3);
    font-size: 4vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color: white;
}
section#imagem1{
    background-color: brown;
    color: white;
    background-image: url(../imagens/background001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100%;
}
section#imagem2{
    background-color: brown;
    color: white;
    background-image: url(../imagens/background002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100%;
}
section.imagem{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
}
section p{
    padding-bottom: 2em;
}
section.imagem p{
    background-color: rgba(0, 0, 0, 0.285);
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 3px 5px black;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}